# ===============================================
# Temporary data --------------------------------
# ===============================================

.mysql
.idea

# ===============================================
# Drupal configuration --------------------------
# ===============================================

web/sites/default/settings.local.php
web/sites/*/files
