# ===============================================
# Dependencies ----------------------------------
# ===============================================

node_modules


# ===============================================
# Builder files ---------------------------------
# ===============================================

dist


# ===============================================
# Debug files -----------------------------------
# ===============================================

npm-debug.log
selenium-debug.log


# ===============================================
# Test results ----------------------------------
# ===============================================

tests/results
